<div class = "wrapper">
    <nav class = "navbar fixed-top" id="navigation">
        <h3 id="logo">Aleksandar</h3>
        <i class="fa-solid fa-bars" id ="hamburger"data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"></i>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel" id="menuTitle">Aleksandar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#upper">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#AboutMe" >About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Technologies" >Technologies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Contact">Contact</a>
                  </li>
              </ul>
        </div>
        </div>
    </nav>

    <div class ="upperMainSection" id="upper">
        <img src="assets/images/Me.png">
        <h1>I'm a Web<br><span style="background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147)); -webkit-background-clip: text;-webkit-text-fill-color: transparent; -moz-background-clip: text;-moz-text-fill-color: transparent;">Developer</span></h1>
        <p>Web developer from Novi Sad, Serbia. I create websites to help people go further online.</p>
        <a type="button" href="#Contact" class="btn btn-outline-success">Contact me</a>
        <div class="line"></div>
    </div>
    <div class="Technologies" id="Technologies">
      <h1>Technologies i use</h1>
      <div class="row row-cols-1 row-cols-md-4 row-cols-sm-4 g-4" id="techGrid">
        <div class="col">
          <div class="card">
            <img src="assets/images/java.png" style="width: 70%; margin: auto;"class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/angular.png" style="width: 50%; margin: auto;"class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/mysql.png" style="width: 75%; margin: auto;"class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/mongo.jpg" style="width: 90%; margin: auto;"class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/html.png" style="width: 50%; margin: auto;"class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/css.png" style="width: 36%; margin: auto;"class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/docker.png" style="width: 80%; margin: auto;"class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/js.png" style="width: 50%; margin: auto;"class="card-img-top" alt="...">
          </div>
        </div>
      </div>
    </div>
    <div class = "aboutMe" id="AboutMe">
      <h1>About me<span style="color:lawngreen">.</span></h1>
      <img src="assets/images/aboutMeVector.png">
      <p>Hello! I'm Aleksandar Pavlov, a full stack web developer based out of Novi Sad, Serbia. I have a degree in Computer Science from the Faculty of Technical Sciences, University of Novi Sad. I enjoy designing and developing great looking and highly functioning responsive web pages. I have been studying the field of web and software developing since 2016. Besides technical knowledge, i have great communication skills, im friendly, open minded and capable of working in all sorts of different teams.</p>
    </div>
    <div class="cv">
      <h1>Let's work together<span style="color:lawngreen">.</span></h1>
    </div>
    <div class="contact" id="Contact">
      <h1>Contact me<span style="color:lawngreen">.</span></h1>
      <div class="row row-cols-1 row-cols-md-4  row-cols-sm-4 g-4" id="contactGrid">
        <div class="col">
          <div class="card">
            <img src="assets/images/gmail.png" style="width: 50%; margin: auto;"class="card-img-top" alt="...">
            <h4>Email</h4>
            <h4>torrentens@gmail.com</h4>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/git.png" style="width: 50%; margin: auto;"class="card-img-top" alt="...">
            <h4>Github</h4>
            <h4><a href="https://github.com/AleksandarPavlov" style="color: white; text-decoration: none;">https://github.com/AleksandarPavlov</a></h4>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/phone.png" style="width: 50%; margin: auto;"class="card-img-top" alt="...">
            <h4>Phone</h4>
            <h4>+381611856934</h4>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/insta.png" style="width: 50%; margin: auto;"class="card-img-top" alt="...">
            <h4>Instagram</h4>
            <h4>aleksandar.pavlov</h4>
          </div>
        </div>
      </div>
    </div>
</div>


